.three-dashboard-tiles{
    display:flex;
    justify-content: space-around;
    margin-top: 60px;
}

.dashboard-tile {
    display: flex;
    justify-content:center;
    flex-direction:column;
    text-align: center;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    min-width: 200px;
    min-height: 250px;
}

.dashboard-tile > P {
    font-size: 3em;
}

.customer-list-heading
{
    text-align: center;
    margin-top: 70px;
    text-decoration: underline;
    font-weight:400;
}

.cust-cart-display{
    display: flex;
    justify-content:flex-start;
    
}