
body {
    background-color: #0E0B16;
    min-width:100%;
}
.mb-3, .my-3 {
    margin-bottom: 0px;
}

.container {
    min-width: 100%;
    margin: 0px;
    padding: 0px;
}
.metric-tab-container {
    display: flex;
    flex-direction: column;
    background-color: #c07dff;
}
    .metric-tab-container > h1{
        align-self: center;
        margin-top: 100px;
    }
.three-dashboard-tiles {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    align-self: center;
    width: 80%;
}


.metrics-tab {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.metrics-tab-move-left{
    position:relative;
    transition: right 3s;
    right: 0;
}
.metrics-tab-disabled {
    display: none;
}
.dashboard-tile {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.7) 0px 3px 8px;
    min-width: 200px;
    min-height: 250px;
    flex-wrap: nowrap;
    background-color: rgba(255,255,255, 1.0);
    border-radius: 5.5px;
}

.dashboard-tile > P {
    font-size: 2em;
}

.metrics-tab-button
{
    align-self: center;
}

    .metrics-tab-button button {
        outline: none;
        border: none;
        background: none;
    }
.metrics-tab-selected {
    align-self:center;
    margin-top: 50px;
    margin-bottom: 30px;
}

    .metrics-tab-selected span {
        font-size: 1.5em;
        margin-left: 20px;
        margin-right: 20px;
    }
    .current {
        border: solid 1px black;
        border-radius: 5px;
        padding: 5px;
    }
.customer-list-heading {
    text-align: center;
    margin-top: 70px;
    font-weight: 400;
    color: #e7efdd
}

.cust-cart-container {
    display: flex;
    flex-direction: column;

}
.cust-cart-display {
    color: #e7efdd;
    padding: 15px;
    align-self: center;
    background-color: RGBA(255,255,255,0.1);
    width: 85%;
    height: 400px;
    font-size: large;
    box-shadow: #000000 5px 10px 10px;
    height: auto;
    border-radius: 5.5px;
}

.main-order-table {
    border-collapse: separate;
    border-spacing: 0px 20px;
    width: 100%;
}

.main-order-table > tbody> tr > td{
   border-bottom: solid 1px black;
   padding:0px;
}

    .main-order-table > tbody > tr > td {
        border-bottom: solid 1px black;
        padding: 0px;
    }



.cart-item-table {
    display:  none;
}

.cart-item-table-style {
    display: normal;
    margin-left: 30px;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0px 15px;
}

.cart-item-table-style > thead{
   font-weight: bold;
}


.dropdown-icon-arrow-btn {
    outline: none;
    border: none;
    background: none;
}