.new-prod-form-container {
    display: flex;
    min-width: 100%;
    justify-content: center;
}

.dollar {
    display: inline-block;
    position: relative;
    width: 100%;
}

    .dollar input {
        padding-left: 15px;
    }

    .dollar:before {
        position: absolute;
        content: "$";
        left: 5px;
        top: 6px;
    }
.prod-form {
    width: 100%;
}

.control-label {
    color: white;
}

.filter-btn {
    outline: none;
    border: none;
    background: none;
}

.products-container {
    display: flex;
    flex-direction: column;
    z-index: 0;
}

.products-container h1 {
    align-self: center;
    color: #e7efdd;
    margin-top: 140px;
}
.display-products {
    margin-top: 10px;
    display: flex;
    background-color: RGBA(255,255,255,0.1);
    color: white;
    box-shadow: #000000 5px 10px 10px;
    align-self: center;
    border-radius: 5.5px;
    padding: 15px;
    justify-content: center;
    flex-direction: column;
    width: 85%;
}

.display-products div {
    padding-top: 20px;
}


.display-products tr {
    border-bottom: 2px black solid;
}

.products-table thead > tr > th {
    padding: 30px 0px 15px 30px;
}

.products-table tbody > tr > td {
    padding: 30px 0px 15px 30px;
}

.prod-btn
{
    background-color: #4717F6;
}

.edit-form-container {
    margin-top: 200px;
    display: flex;
    justify-content: center;
}

.content {
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
    -webkit-transition: opacity 500ms ease, -webkit-filter 500ms ease;
    transition: opacity 500ms ease, -webkit-filter 500ms ease;
    transition: filter 500ms ease, opacity 500ms ease;
    transition: filter 500ms ease, opacity 500ms ease, -webkit-filter 500ms ease;
}
.modal-content {
    background: rgb(3 3 4);
    color: #e7efdd;
}
.modal-header {
    font-size: 1.5em;
}

.Text {
    color: white;
    text-align: center;
}

.icons {
    color: #0366d6;
    text-align: center;
    font-size: 30px;
}

.btn-prod-form {
    display: flex;
    justify-content: center;
    width: 100%;
}

.prod-form {
    width: 500px;
}



