@model MVCOrderManagmentUi.Data.DTOs.UserLoginDTO
@{
    ViewData["Title"] = "Login";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="d-flex">
        <form action="Login" method="post">
            <img src="#" alt="PLACE GENERIC FACE HERE" />
            <label asp-for="Email" class="col-form-label"></label>
            <input asp-for="Email" type="text" class="input-group" placeholder="Email" />

            <label asp-for="Password" class="col-form-label"></label>
            <input asp-for="Password" type="text" class="input-group" placeholder="Password" />
            <button type="submit" class="btn btn-success"></button>
            <a asp-action="Register" asp-controller="account">Don't have an account?Click to Register</a>
        </form>
    </div>
</div>