@model MVCOrderManagmentUi.Data.DTOs.UserRegistrationDto
@{
    ViewData["Title"] = "Register";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="register-form-container">
    <div class="register-form-display">
        <h1>Create  a New Account!</h1>
        <form class="login-form" action="register" method="post">
            <div class="input-form-30m">
                <label asp-for="Email" class="col-form-label"></label>
                <input asp-for="Email" class="form-control" placeholder="Email" />
                <p><span asp-validation-for="Email" class="text-warning"></span></p>
            </div>
            <div class="input-form-30m">
                <label asp-for="UserName" class="col-form-label"></label>
                <input asp-for="UserName" class="form-control" placeholder="User Name" />
                <p><span asp-validation-for="UserName" class="text-warning"></span></p>
            </div>
            <div class="input-form-30m">
                <label asp-for="Password" class="col-form-label"></label>
                <input asp-for="Password" class="form-control" placeholder="Password" />
                <p><span asp-validation-for="Password" class="text-warning"></span></p>
            </div>
            <div class="input-form-30m">
                <label asp-for="ConfrimPassword" class="col-form-label"></label>
                <input asp-for="ConfrimPassword" type="password" class="form-control" placeholder="Retype Password" />
                <p><span asp-validation-for="ConfrimPassword" class="text-warning"></span></p>
            </div>
            <button type="submit" class="btn btn-success">SIgn Up!</button>
            <a asp-action="Login" asp-controller="account">Already have an account? Login in!</a>
        </form>
    </div>
</div>
