@page
@{
    ViewData["Title"] = "About";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<div class="about-section">
  <h3 id = "abouth3">Meet the team that brought you this ecommerce management system</h3>
</div>

<h1 id = "abouth1" style="text-align:center">Our Team</h1>
<div class="row">
  <div class="column">
    <div class="card">
      <div class="container">
        <h2 id = "abouth2">Domonic Francis</h2>
        <p id = "aboutp" class="title">Team Lead</p>
        <p id = "aboutp">I am a Full Stack Developer specializing in C#. I have made many Applications in the .NET ecosystem. 
            All of my skills and experiences are self taught.</p>
        <p id = "aboutp">rechtproductions@gmail.com</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div class="container">
        <h2 id = "abouth2">Kahasim Brown</h2>
        <p id = "aboutp">My name is Kahasim Brown. 
            I am a full stack .Net developer with Genspark.  
            I'm from Florida with a bachelors in Mechanical Engineering.</p>
        <p id = "aboutp">kahasim.brown@genspark.net</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div class="container">
        <h2 id = "abouth2">Naziyah Folmar</h2>
        <p id = "aboutp">Hi I'm Naziyah Folmar. I am a Full stack .Net developer with GenSpark from Warren Ohio</p>
        <p id = "aboutp">ziyahfolmar@gmail.com</p>
      </div>
    </div>
  </div>
</div>
