@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>MVC order Management web app <a href="https://docs.microsoft.com/aspnet/core">built with ASP.NET Core</a>.</p>
</div>
