@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="">
    <div class="header-display">
        <h1>Where Serious Bussiness Owners Come To See Their Ecommerce Shops Grow</h1>
    </div>
    <div class="header-display-content">
        <section role="dialog">
            <span>What Can We Offer</span>
            <p>Ut takimata consequat consequat duo sed nulla ea invidunt in lobortis labore veniam liber amet tation sed kasd gubergren dolore eos justo aliquyam invidunt sed commodo stet sed takimata wisi odio aliquyam et nonumy dolor sadipscing ut kasd consequat sea</p>
            <span><a href="#">Check Out A Demo</a></span>
        </section>
        <div class="flex-column ">
            <div class="card">
                <div class="card-body">
                    hi
                </div>
            </div>
        </div>
    </div>
</div>
